*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins","sans-serif";
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:#e3f9ff ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}